<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
  <session-factory>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="connection.url">jdbc:sqlserver://localhost;databaseName=EjemploDiseño;user=dds3.POIs;password=dds3;</property>
    
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    
    <!--
   		<property name="hibernate.hbm2ddl.auto">create</property>
    -->
    
    <mapping class="dds.grupo3.Interfaces.POI"/>
    <mapping class="dds.grupo3.POIsSistem.Servicio"/>
    <mapping class="dds.grupo3.POIsSistem.Horario"/>
    <mapping class="dds.grupo3.DTOs.BusquedaDTO"/>
    <mapping class="dds.grupo3.POIsSistema.Ubicacion"/>
    <mapping class="dds.grupo3.User.Usuario"/>
    <mapping class="dds.grupo3.User.Rol"/>
	<mapping class="dds.grupo3.User.RealizarAcciones"/>
	
  </session-factory>
</hibernate-configuration>